.svg-container {
    position: relative;
}

.map-layer {
    margin: 0 auto;
}

div.hover-text {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #708090;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1rem;
    white-space: pre-line;
    width: 300px !important;
    word-wrap: "break-word";
}

.dropdown_tweets {
    position: absolute;
    left: 100px;
    top: 100px;
}

.dropdown_polarity {
    position: absolute;
    left: 300px;
    top: 100px;
}

.btn btn-secondary dropdown-toggle {
    width: 150px !important;
}

.date_range_picker {
    position: absolute;
    left: 100px;
    top: 200px;
}

.candidate_picker {
    position: absolute;
    left: 100px;
    top: 300px;
    width: 300px;
}


