<!DOCTYPE html>
<meta charset="utf-8">

{% load staticfiles %}

<head>

    <!-- loads version 3 of the d3.js library -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.13.0/d3-legend.min.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!-- current commented out because it is not necessary, but in the future I could have the need for a stylesheet -->
    <link rel='stylesheet' href="{% static 'css/tweets_view.css' %}" type='text/css'/>

    <!-- initializes the SVG element -->
    <div class='svg-container'>
        <svg></svg>
    </div>
</head>

<script>
    const tweetData = JSON.parse('{{ data }}'.replace(/&quot;/g,'"'));
    const mapData = JSON.parse('{{ map_json }}'.replace(/&quot;/g,'"'));
</script>

<!-- the visualization script -->
<script type="text/javascript" src="{% static 'js/tweets_view.js' %}"></script>
